body {
  background-color: rgb(28, 27, 27);
  color: aliceblue;
  display: flex;
}

.projects-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 600px;
  max-width: 600px;
}

.side-bar {
  min-width: 200px;
  margin-left: 10px;
  margin-right: 150px;
}

.side-bar button {
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(43, 41, 41);
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
  min-width: 100%;
}

.new-project-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 600px;
  max-width: 600px;
  background-color: rgb(43, 41, 41);
  border: 1px solid rgb(64, 63, 63);
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
}

.project h2 {
  margin-top: 0px;
}

#delete-project-btn {
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(43, 41, 41);
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
}

.new-task-form {
  padding: 25px 0 10px 0;
  min-width: 225px;
  display: flex;
  flex-direction: column;
}

.form-item {
  display: block;
  margin: 10px 0px 10px 0px;
}

.form-due-date {
  margin: 0px 0px 20px 0px;
}

.form-due-date h4 {
  margin: 10px 0 10px 0;
}

.form-due-date label {
  margin-left: 10px;
}

#form-submit {
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(43, 41, 41);
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
}

#form-toggle {
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(43, 41, 41);
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
}

.todo-item {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-end;
}

.todo-item h4 {
  margin: 0px;
  padding: 10px 0 10px 0;
}

.todo-item p {
  margin: 0px;
  padding: 10px 0 10px 0;
}

.task-detail {
  display: none;
}

.expand-btn {
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(43, 41, 41);
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
}

#delete-task-btn {
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgb(43, 41, 41);
  color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 5px;
}

.display-hidden {
  display: none;
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}
